{
  "IsEncrypted": false,
  "Values": {
    "AzureFunctionsJobHost__logging__logLevel__Default": "Trace",
    "APPINSIGHTS_INSTRUMENTATIONKEY": "mock-key",
    "FUNCTIONS_EXTENSION_VERSION": "~4",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "NODE_ENV": "development",
    "WEBSITE_NODE_DEFAULT_VERSION": "~16",
    "WEBSITE_SITE_NAME": "ftts-test-data-manager"
  }
}
